## Question 1

What's the version of NumPy that you installed?

In [1]:
import numpy as np
print(np.__version__)

1.19.5

## Question 2

What's the version of Pandas?

In [2]:
import pandas as pd
print(pd.__version__)

1.3.3

## Reading and loading the data

In [3]:
#reading the dataset
df=pd.read_csv('data.csv')

## Question 3

What's the average price of BMW cars in the dataset?

In [4]:
#finding the avg price of BMW cars
df[df['Make']=='BMW'].MSRP.mean()

61546.76347305389

## Question 4

Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [5]:
#finding no. of missing values for Engine HP when year>=2015
df[df['Year']>=2015]['Engine HP'].isnull().sum()

51

51 records have missing values for Engine HP

## Question 5
<ul>
    <li>Calculate the average "Engine HP" in the dataset.</li>
    <li>Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.</li>
    <li>Now, calcualte the average of "Engine HP" again.</li>
    <li>Has it changed?</li>
</ul>

In [6]:
print("Number of records with missing values in  Engine HP are ", df['Engine HP'].isnull().sum())

#finding the average of "Engine HP" in the dataset
engine_mean=df['Engine HP'].mean()
print("Average Engine HP in the dataset with missing values:",round(engine_mean))

#filling the missing values in "Engine HP" with engine_mean value
df['Engine HP']=df['Engine HP'].fillna(engine_mean)

#finding the new average of "Engine HP" in the dataset
new_engine_mean=df['Engine HP'].mean()

print("Number of records with missing values in  Engine HP are ", df['Engine HP'].isnull().sum())
print("Average Engine HP in the dataset after filling missing values:",round(new_engine_mean))

Number of records with missing values in  Engine HP are  69
Average Engine HP in the dataset with missing values: 249
Number of records with missing values in  Engine HP are  0
Average Engine HP in the dataset after filling missing values: 249

## Question 6
<ul>
    <li>Select all the "Rolls-Royce" cars from the dataset.</li>
    <li>Select only columns "Engine HP", "Engine Cylinders", "highway MPG".</li>
    <li>Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).</li>
    <li>Get the underlying NumPy array. Let's call it X.</li>
    <li>Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.</li>
    <li>Invert XTX.</li>
    <li>What's the sum of all the elements of the result?</li>
</ul>

In [7]:
from numpy.linalg import inv

#selecting all Rolls-Royce cars
rolls_royce=df[df['Make']=='Rolls-Royce']

#selecting only "Engine HP", "Engine Cylinders" and "highway MPG" columns
sh_rolls_royce=rolls_royce[["Engine HP", "Engine Cylinders", "highway MPG"]]

#dropping all the duplicated rows
sh_rolls_royce=sh_rolls_royce.drop_duplicates()

#getting numpy array from dataframe
rolls_royce_numpy=sh_rolls_royce.to_numpy()

#calculating matrix-matrix multiplication b/w X.T and X
XTX=np.dot(rolls_royce_numpy.T,rolls_royce_numpy)

#finding the inverse of XTX
XTX_inv= inv(XTX)
print("Sum of all the elements of XTX inverse is ",np.sum(XTX_inv))

Sum of all the elements of XTX inverse is  0.032212320677486125

## Questions 7
<ul>
    <li>Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].</li>
       <li>Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.</li>
    <li>What's the value of the first element of w?.</li>
</ul>

In [8]:
y=[1000,1100,900,1200,1000,850,1300]

#calculating w = (XTX_inv * X.T)*y
w= np.dot(np.dot(XTX_inv,rolls_royce_numpy.T),y)

print("w:",w)
print(w[0]," is the value of the first element of w")

w: [ 0.19989598 31.02612262 31.65378877]
0.19989598183189017  is the value of the first element of w